<div class="container">
    <div class="row">
        <div class="col-2">
            <ul class="nav nav-pills flex-column">
				<li class="nav-item"><a class="nav-link active bg-white border text-primary px-4"><i class="fa fa-globe mr-1"></i>All</a></li>
				{{!-- <li class="nav-item"><a class="nav-link px-4"><i class="fa fa-cogs mr-1"></i>AI</a></li> --}}
				{{!-- <li class="nav-item"><a class="nav-link px-4"><i class="fa fa-eye mr-1"></i>AR and VR</a></li> --}}
                <li class="nav-item"><a class="nav-link px-4"><i class="fas fa-handshake mr-1"></i>B2B</a></li>
				<li class="nav-item"><a class="nav-link px-4"><i class="fas fa-handshake mr-1"></i>B2B</a></li>
				<li class="nav-item"><a class="nav-link px-4"><i class="fa fa-flask mr-1"></i>Biotech</a></li>
				<li class="nav-item"><a class="nav-link px-4"><i class="fa fa-shopping-cart mr-1"></i>Consumer</a></li>
				<li class="nav-item"><a class="nav-link px-4"><i class="fa fa-code mr-1"></i>Dev Tools</a></li>
				<li class="nav-item"><a class="nav-link px-4"><i class="fa fa-graduation-cap mr-1"></i>Education</a></li>
				<li class="nav-item"><a class="nav-link px-4"><i class="fa fa-building mr-1"></i>Enterprise</a></li>
				<li class="nav-item"><a class="nav-link px-4"><i class="fa fa-gamepad mr-1"></i>Entertainment</a></li>
				<li class="nav-item"><a class="nav-link px-4"><i class="far fa-money-bill-alt mr-1"></i>Fintech</a></li>
				<li class="nav-item"><a class="nav-link px-4"><i class="fas fa-university mr-1"></i>Government</a></li>
				<li class="nav-item"><a class="nav-link px-4"><i class="fa fa-wrench mr-1"></i>Hardware</a></li>
				<li class="nav-item"><a class="nav-link px-4"><i class="fa fa-medkit mr-1"></i>Healthcare</a></li>
				<li class="nav-item"><a class="nav-link px-4"><i class="fa fa-balance-scale mr-1"></i>Marketplace</a></li>
				<li class="nav-item"><a class="nav-link px-4"><i class="fa fa-heart mr-1"></i>Non Profit</a></li>
				<li class="nav-item"><a class="nav-link px-4"><i class="fab fa-android mr-1"></i>Robotics</a></li>
				<li class="nav-item"><a class="nav-link px-4"><i class="fas fa-shield-alt mr-1"></i>Security</a></li>
				<li class="nav-item"><a class="nav-link px-4"><i class="fab fa-y-combinator mr-1"></i>Other</a></li>
			</ul>
        </div>
        <div class="col-10">
            <table id="table" class="table table-hover bg-white border rounded">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Batch</th>
                        <th>Domain</th>
                        <th>Category</th>
                        <th>Description</th>
                        <th>Links</th>
                        <th>Location</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each companies}}
                        <tr>
                            <td><a href="../company/{{id}}"><img src="https://www.google.com/s2/favicons?domain={{domain}}"> {{name}}</a></td>
                            <td>{{batch}}</td>
                            <td>{{domain}}</td>
                            <td>{{category}}</td>
                            <td>{{description}}</td>
                            <td>
                                <a href="{{link_angellist}}" target='_blank' data-toggle='tooltip' data-placement='bottom' title='Angellist'><i class="fab fa-angellist"></i></a>
                                <a href="{{link_crunchbase}}" target='_blank' data-toggle='tooltip' data-placement='bottom' title='Facebook'><i class="fas fa-database"></i></a>
                                <a href="{{link_linkedin}}" target='_blank' data-toggle='tooltip' data-placement='bottom' title='LinkedIn'><i class="fab fa-linkedin"></i></a>
                                <a href="{{link_twitter}}" target='_blank' data-toggle='tooltip' data-placement='bottom' title='Twitter'><i class="fab fa-twitter"></i></a>
                                <a href="{{link_facebook}}" target='_blank' data-toggle='tooltip' 
                                data-placement='bottom' title='Facebook'><i class="fab fa-facebook"></i></a>
                                <a href="{{link_instagram}}" target='_blank' data-toggle='tooltip' data-placement='bottom' title='Instagram'><i class="fab fa-instagram"></i></a>
                            </td>
                            <td>
                                {{#if location_city}}
                                    {{location_city}}, {{location_state}}
                                {{/if}}
                            </td>
                            <td><span class="badge badge-secondary">Live</span></td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
// Draw table
// $(document).ready(function() {
var table = $('#table').DataTable({
    "columnDefs": [
        { "orderable": false, "targets": [1, 4] },
        // { "className": "text-right", "targets": [5, 6, 7, 8] },
        // { "render": $.fn.dataTable.render.number(','), "targets": [5, 6, 7, 8] },
    ]
});
// });

// Search by vertical via sidebar
$(document).on('click', '.nav-link', function(){
    // Use regex to force exact match or to turn off search for 'all'
    if ( $(this).text()=="All") { var regExSearch = ""; } 
    else { var regExSearch = '^' + $(this).text() +'$'; }
    // Apply search on category column and redraw
    table
        .columns( 3 )
        .search(regExSearch, true, false)
        .draw();
    $('.nav-link').removeClass('active');
    $(this).addClass('active');
});
</script>